:root {
    --cor-principal: #0453a5; /* Azul primário */
    --cor-secundaria: #f5f5f5; /* Verde de destaque */
    --cor-texto-principal: #000000; /* Cinza escuro */
    --cor-fundo-claro: rgb(255, 255, 255); /* Cinza claro para fundos */
    --cor-branca: #FFFFFF;
    --cor-verde: #456144;
}


.central{
    margin-bottom: 0;
    background-color: var(--cor-principal);
    color: white;
    height: 2rem;
    font-size: 1.0rem;
}
div>h3.central{
    padding-left: 0.6rem;
    padding-top: 0.2rem;
}

.navbar-nav-custom .nav-link:hover,
.navbar-nav-custom .nav-link.active {
    color: var(--cor-principal) !important;
}



.navbar-custom {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 10px 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1030;
}

.navbar-custom .container::after {
    content: "";
    display: table;
    clear: both;
}


.navbar-logo {
    float: left;
    padding-top: 5px;
    padding-bottom: 0;

}

.navbar-logo img {
   height: 50px;
    width: auto;
}

.navbar-toggler {
    float: right;
    display: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

#navbarNav {
    float: right;
}

.navbar-nav-custom {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.navbar-nav-custom .nav-item {
    float: left;
    margin-left: 20px;
}

.navbar-nav-custom .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.navbar-nav-custom .nav-link.active,
.navbar-nav-custom .nav-link:hover {
    color: #007bff;
}


.principal {
    position: relative;
    max-width: 100%;
    height: auto;
}
.principal img {
    width: 100%;
    height: auto;
    display: block;
}
.legenda {
    position: absolute;
    left: 20vw;
    bottom: 15vw;
    color: white;

}
.legenda>h1 {
    font-size: 5vw;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.legenda>h3 {
    font-size: 2vw;
    font-weight: bold;
    margin-left: 0.2em;
}


.cards-container {
    margin-top: 3vh;
    padding: 20px;
    text-align: center;
}


.subtitulo {
    font-size: 20px;
    color: var(--cor-principal);
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.titulo {
    font-size: 32px;
    color: var(--cor-verde);
    margin-top: 0;
    margin-bottom: 30px;
}

.cards-wrapper {
    text-align: center;
    overflow: hidden;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 30px;
    text-align: left;
    transition: transform 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(2px);
}

.card-image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.card-content {
    padding: 20px;
    background-color: var(--cor-principal);
    color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 120px;
}

.card-content p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.cards-container2 {
    margin-top: 3vh;
    padding: 20px;
    text-align: center;
    background-color: var(--cor-principal);
    padding-bottom: 5vh;

}


.cards-container2 .subtitulo {
    margin-top: 30px;
    font-size: 20px;
    color: #b5b5b5;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.cards-container2 .titulo {
    font-size: 32px;
    color: white;
    margin-top: 0;
    margin-bottom: 30px;
}

.cards-container2 .cards-wrapper {
    text-align: center;
    overflow: hidden;
}

.cards-container2 .card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 30px;
    text-align: left;
    transition: transform 0.5s ease-in-out;
}

.cards-container2 .card:hover {
    transform: translateY(2px);
}

.cards-container2 .card-image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.cards-container2 .card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.cards-container2 .card-content {
    padding: 20px;
    background-color: white;
    color: var(--cor-principal);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 120px;
}

.cards-container2 .card-content h3 {
    font-size: 25px;
    line-height: 1.5;
    margin: 0;
    text-align: center;
    font-weight: bold;

}
.duvidas-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
}

.duvidas-title {
    text-align: center;
    color: var(--cor-principal);
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: bold;
}

.duvidas-item {
    border: 1px solid var(--cor-principal);
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.duvidas-pergunta {
    padding: 15px 20px;
    background-color: #ffffff;
    color: var(--cor-principal);
    font-size: 1.1em;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.duvidas-pergunta:hover {
    background-color: var(--cor-principal);
    color: white;
}

.duvidas-pergunta .arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    transition: transform 0.3s ease;
}

.duvidas-resposta {
    display: none;
    padding: 10px 20px 20px;
    background-color: #fff;
    color: #555;
    line-height: 1.6;
}


.duvidas-resposta.active {
    display: block;
}

footer{
    background-color: #384734;
    height: auto;

}

@media (min-width: 992px) {
    #navbarNav {
        display: block;
    }


}

@media (max-width: 800px) {
    .navbar-toggler {
        display: block;
        margin-top: 15px;

    }
    #navbarNav {
        float: none;
        width: 100%;
        clear: both;
        background-color: #f8f9fa;
    }

    #navbarNav.collapse:not(.show) {
        display: none;
    }

    .navbar-nav-custom {
        margin-top: 10px;
    }

    .navbar-nav-custom .nav-item {
        float: none;
        margin-left: 0;
        text-align: center;
        border-top: 1px solid #e7e7e7;
    }

    .navbar-nav-custom .nav-item a {
        padding: 12px 0;
        display: block;
    }
    footer{
        margin-top: 50px;
        height: auto;
    }

}
